

.form {
    text-align: center;
    transform: translateY(11vw);
}

#url {
    height: 50px;
    width: 72vw;
    font-size: 25pt;
    border-radius: 19px;
    background-color: rgb(39, 39, 39);
    border: rgb(32, 32, 32);
    color: white;
    padding-left: 10px;
}

body.dark {
    background: #292C35;
}

* {
    transition: background-color 0.6s ease, color 1s ease;
}

#footnote{
    color:#5e5e5e;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}





#url:focus {
    outline: none;
}

body {
    background-color: rgb(31, 31, 31)
}

